In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

In [9]:
df = pd.read_csv('HR_comma_sep.csv.')
df

      satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0                      0.38,0.53,2,157,3,0,1,0,sales,low
1                    0.8,0.86,5,262,6,0,1,0,sales,medium
2                   0.11,0.88,7,272,4,0,1,0,sales,medium
3                      0.72,0.87,5,223,5,0,1,0,sales,low
4                      0.37,0.52,2,159,3,0,1,0,sales,low
...                                                  ...
14994                 0.4,0.57,2,151,3,0,1,0,support,low
14995                0.37,0.48,2,160,3,0,1,0,support,low
14996                0.37,0.53,2,143,3,0,1,0,support,low
14997                0.11,0.96,6,280,4,0,1,0,support,low
14998                0.37,0.52,2,158,3,0,1,0,support,low

[14999 rows x 1 columns]

In [4]:
df.describe()

       satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
count                                               14999
unique                                              11991
top                     0.46,0.57,2,139,3,0,1,0,sales,low
freq                                                    6

In [5]:
df.isnull().sum()

satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary    0
dtype: int64

In [14]:
df.shape

(14999, 1)

In [15]:
df.isnull().sum()

satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary    0
dtype: int64

In [16]:
df.columns

Index(['satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary'], dtype='object')

In [19]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [25]:
df.head()

  satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0                  0.38,0.53,2,157,3,0,1,0,sales,low
1                0.8,0.86,5,262,6,0,1,0,sales,medium
2               0.11,0.88,7,272,4,0,1,0,sales,medium
3                  0.72,0.87,5,223,5,0,1,0,sales,low
4                  0.37,0.52,2,159,3,0,1,0,sales,low